@import "../../style/_variables.styl"

.page-header
  background-color: #fff
  box-shadow: 4px 0 10px rgba(black, 0.1)

.page-header__logo
  flex: 0 0 15%

.page-header__main-nav
  flex: 0 0 68%

.page-header__user-block
  display: flex
  justify-content: flex-end
  flex: 0 0 17%
