.TermsOfService__main-header {
  display flex
  flex-wrap wrap
  padding 0 25px
  background-color #fff
  justify-content center
  align-items center
  font-size 18px
  font-weight: 800
  color: #36436b;
  padding: 26px

}
  @media(min-width 1350px) {
    .TermsOfService__main-header{
      flex-wrap nowrap;
      justify-content flex-start
      padding-right 50px
      padding-left 50px
    }
  }
  
  .TermsOfService .dash-inner > div {
    padding: 50px
    text-align center
  }