.dash {

  &-main {
    padding-left 210px

    @media(min-width 769px) {
      padding-top 0px
    }

    @media(min-width 993px) {
      padding-left 250px
    }
  }

  &-inner {
    margin 20px 47px
    background-color #fff

    @media(max-width 992px) {
      margin 13px 17px
    }
  }
}

.vx-tooltip-portal {
  white-space pre-line
  text-align right
  line-height 5
  font-size 30px
}

.loader-wrap {
  display flex
  justify-content center
  align-items center
  padding 30px 0;
}

a.active {
  // color: #36436b
}
a {
  text-decoration none
}
