.dash-header
  position fixed
  top 0
  width 100%
  display flex
  padding 0 10px;
  align-items center
  flex-wrap wrap
  justify-content center
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index 10   // dominate sidebar

  @media(min-width 769px) {
    justify-content space-between
    padding-left 40px
    padding-right 0
  }

  &__lang-item {
    font-size 14px
    font-weight 500
    color #36436B
    margin-left 16px
    cursor: pointer

    &.active {
      color #6AB142
    }

    &:nth-child(1n+3) {
      position relative

      &:before {
        content: "";
        position absolute
        top 4px
        left -8px
        height 17px
        width 1px
        background-color #36436B
      }
    }

    &-title {
      color #36436B
      font-size 14px
      font-weight 600
    }
  }

  &__menu {
    width 100%
    display flex
    flex-wrap wrap
    justify-content center
    margin-bottom 11px

    @media(min-width 769px) {
      width auto
      flex-grow 1
      flex-wrap nowrap
      margin-left 40px
      // margin-bottom
      justify-content flex-end
    }
  }

  &__search {
    width 100%
    display flex
    align-items center

    @media (min-width 769px) {
      max-width 370px
    }
  }

  &__settings {
    display flex
    justify-content space-between
    flex-grow 1

    @media (min-width 769px) {
      flex-grow 0
    }
  }

  &__lang {
    display flex
    align-items center

    @media (min-width 769px) {
      margin-left 43px
    }
  }

  &__button {
    width 160px
    position relative
    margin-top 11px
    // margin-left: 20px
    // margin-right: 20px
    padding-top 46px
    text-align center
    cursor pointer
    z-index: 200

    &::before {
      content: ""
      top 0
      left 50%
      transform translate(-50%)
      position absolute
      width 42px
      height 42px
      background url('./img/profile.svg') no-repeat
    }
  }

  &__profile {
    position relative

    &-dropdown {
      display none
      position absolute
      top calc(100% + 11px)
      right 10px
      width 250px
      padding 10px
      text-align center
      background-color #fff
      border-radius 8px
      box-shadow 2px 2px 10px rgba(0, 0, 0, 0.1);
      z-index 200

      &.open {
        display block
      }
    }
  }

  &__dropdown {
    &-item {
      margin 10px 0
      & a:hover{
        color: #36436b
        font-weight 600
      }
    }

    &-link {
      color #333
      font-size 14px
      line-height (26/14)
      text-decoration none
      font-weight 500
    }
  }
  
  .main_nav-wrapper {
    margin-left: 30px
  }
  
  @media screen and (max-width 1420px) {
    .main_nav-wrapper {
      margin: auto
    }
    .dash-header__search {
      margin-right: auto
    }
  }
  
.dash-header_profile--backdrop {
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  // background-color pink
  z-index: 100
}