@import "../../../../style/_variables.styl"
@import "../../../../style/_mixins.index.styl"

.how-working
  padding-left: 40px
  padding-right: 40px

.how-working__container
  container()
  padding: 10px
  justify-content: space-between

.promo
  position: relative
  width: 24%
  margin-bottom: 20px
  height: 260px
  border-radius: 8px
  box-shadow: 2px 2px 10px rgba(#000, 0.15)
  overflow: hidden

  &:hover
    .promo__hover
      transform: translateY(0)

    .promo__attention
      opacity: 0


  &:nth-child(5n+1)
    width: 48%

.promo__image-wrapper
  position: relative
  width: 100%
  height: 100%

  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.promo__attention
  position: absolute
  top: 50%
  left: 0
  right: 0
  padding: 30px 50px
  transform: translateY(-50%)
  background-color: rgba(#fff, 0.6)
  transition-property: opacity
  transition-duration: duration-base

.promo__title
  margin-top: 0
  margin-bottom: 0
  font-size: font-size-title-base
  line-height: (45 / 24)
  text-align: center
  color: #333

.promo__hover
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0
  display: flex
  flex-direction: column
  justify-content: center
  padding: 20px
  color #fff
  text-align: center
  background-color: rgba(blue, 0.9)
  transform: translateY(-110%)
  transition-property: transform
  transition-duration: duration-animation

.promo__title-hover
  margin-top: 0
  margin-bottom: 10px
  font-size: 18px
  line-height: (34 / 18)
  font-weight: 700

.promo__text
  font-weight: 500
  line-height: (23 / 14)

  p
    margin-top: 0
    margin-bottom: 10px
