.createNewTab__board {
	padding: 0 10vw;
}
.createNewTab__main-header {
	  position relative
	  display flex
	  flex-wrap wrap
	  padding 0 25px
	  background-color #fff
	  justify-content center
	  align-items center
	  font-size 18px
	  font-weight: 800
	  color: grey;
	  padding: 26px
}
 @media(min-width 1350px) {
    .createNewTab__main-header{
      flex-wrap nowrap;
      justify-content flex-start
      padding-right 50px
      padding-left 50px
    }
  }
.createNewTab__main-header span {
	margin: 0 5px
}
.createNewTab__main-header span:last-of-type {
	color: #36436b
}
.createNewTab__header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
	font-size: 18px;
	color: #36436b;
	font-weight: 800;
}
.sign-up__add-button-wrapper {
	width: 100%
	display: flex
	align-items: center
	justify-content: space-between
	padding-bottom: 30px
}
.button-color-green {
	padding: 13px 80px;
	color: white
	float: right
	border: none
	box-shadow: none
	font-weight: 900;
	border-radius: 8px;
	background-color: #6ab142;
	justify-self: end
}
.button-color-green:hover{
	background-color:  #558e35;	
}
.sign-up__add-button.button.button-bordered {
	width: auto
	padding: 13px 80px
}
.sign-up__add-button.button.button-bordered:hover{
	color:  #558e35;	
	// border: #558e35;
	// background-color: #6ab142;
	}
// .sign-up__add-button.button.button-bordered:hover span{
// 	color: white
// }
.sign-up__row {
	display: flex
	flex-flow: row wrap
	align-items: center
	justify-content: space-between
}
.sign-up__row > div {
	width: 45%
}
.addNewFileButton__wrapper {
	display: flex
	align-items: center
	justify-content: flex-end
}
.addNewFileButton__item {
	color: #36436b
	text-decoration: underline
	cursor: pointer
}