.sidebar {
  height 100vh
  width 210px
  position fixed
  top 0
  padding 144px 20px 200px
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
  background-color #fff
  overflow auto

  @media(min-width 993px) {
    padding-left 36px
    padding-right 36px
    width 250px
  }

  &::-webkit-scrollbar {
    width 5px
    background-color #C4C4C4
  }

  &__list {

    &-item {
      position relative
      padding 20px 0

      &:nth-child(2) {
        padding-bottom 60px

        &::after {
          position absolute
          content ""
          width 100%
          height 2px
          background-color #ECECEC
          bottom 20px
        }
      }

      // &::before {
      //   content ""
      //   position absolute
      //   left 0
      //   width 28px
      //   height 28px
      //   background-repeat no-repeat
      // }

      &.sidebar__list- {
        &projects {
         
          // &::before {
          //   width 28px
          //   height 28px
          //   background-image url('./img/projects.svg')
          // }
          // .active{
          //   &::before {
          //   width 28px
          //   height 28px
          //   background-image url('./img/projects-active.svg')
          //   }
          // }
        }

        &profile {
          // &::before {
          //   background-image url('./img/profile.svg')
          // }
          // .active{
          //   &::before {
          //   width 28px
          //   height 28px
          //   background-image url('./img/profile-active.svg')
          //   }
          // }
        }

        &settings {
          // &::before {
          //   background-image url('./img/settings.svg')
          // }
          // .active{
          //   &::before {
          //   width 28px
          //   height 28px
          //   background-image url('./img/settings-active.svg')
          //   }
          // }
        }

        &terms {
          // &::before {
          //   background-image url('./img/terms.svg')
          // }
          // .active{
          //   &::before {
          //   width 28px
          //   height 28px
          //   background-image url('./img/terms-active.svg')
          //   }
          // }
        }

        &help {
          // &::before {
          //   background-image url('./img/help.svg')
          // }
          // .active{
          //   &::before {
          //   width 28px
          //   height 28px
          //   background-image url('./img/help-active.svg')
          //   }
          // }
        }

        &logout {
          // &::before {
          //   background-image url('./img/logout.svg')
          // }
          // .active{
          //   &::before {
          //   width 28px
          //   height 28px
          //   background-image url('./img/logout-active.svg')
          //   }
          // }
        }
      }
    }


    &-link {
      display block
      position relative
      padding-left 45px
      padding-bottom 5px
      font-size 14px
      color: #8b8b8b
      text-decoration none
      font-weight 500
    }
  }
}

a.sidebar__list-link.active {
  color: #36436b
}
.sidebar a {
  display: flex
  flex-align: center
  justify-content: flex-start
}
.sidebar a svg {
  margin-right: 10px
}
a.sidebar__list-link.active svg{
  fill: #6ab142
}

.sidebar .sidebar__list .sidebar__list-projects a::before{
        content ""
        position absolute
        left 0
        width 28px
        height 28px
        background-repeat no-repeat
        background-image url('./img/projects.svg')
}
.sidebar .sidebar__list .sidebar__list-projects a.active::before{
        content ""
        position absolute
        left 0
        width 28px
        height 28px
        background-repeat no-repeat
        background-image url('./img/projects-active.svg')
}
.sidebar .sidebar__list .sidebar__list-profile a::before{
        content ""
        position absolute
        left 0
        width 28px
        height 28px
        background-repeat no-repeat
        background-image url('./img/profile.svg')
}
.sidebar .sidebar__list .sidebar__list-profile a.active::before{
        content ""
        position absolute
        left 0
        width 28px
        height 28px
        background-repeat no-repeat
        background-image url('./img/profile-active.svg')
}
.sidebar .sidebar__list .sidebar__list-settings a::before{
        content ""
        position absolute
        left 0
        width 28px
        height 28px
        background-repeat no-repeat
        background-image url('./img/settings.svg')
}
.sidebar .sidebar__list .sidebar__list-settings a.active::before{
        content ""
        position absolute
        left 0
        width 28px
        height 28px
        background-repeat no-repeat
        background-image url('./img/settings-active.svg')
}
.sidebar .sidebar__list .sidebar__list-terms a::before{
        content ""
        position absolute
        left 0
        width 28px
        height 28px
        background-repeat no-repeat
        background-image url('./img/terms.svg')
}
.sidebar .sidebar__list .sidebar__list-terms a.active::before{
        content ""
        position absolute
        left 0
        width 28px
        height 28px
        background-repeat no-repeat
        background-image url('./img/terms-active.svg')
}
.sidebar .sidebar__list .sidebar__list-help a::before{
        content ""
        position absolute
        left 0
        width 28px
        height 28px
        background-repeat no-repeat
        background-image url('./img/help.svg')
}
.sidebar .sidebar__list .sidebar__list-help a.active::before{
        content ""
        position absolute
        left 0
        width 28px
        height 28px
        background-repeat no-repeat
        background-image url('./img/help-active.svg')
}
.sidebar .sidebar__list .sidebar__list-logout a::before{
        content ""
        position absolute
        left 0
        width 28px
        height 28px
        background-repeat no-repeat
        background-image url('./img/logout.svg')
}
.sidebar .sidebar__list .sidebar__list-logout a.active::before{
        content ""
        position absolute
        left 0
        width 28px
        height 28px
        background-repeat no-repeat
        background-image url('./img/logout-active.svg')
}

@media screen and (max-width 1389px) {
  .sidebar {
    margin-top: 100px
  } 
  .dash-main {
    margin-top: 180px
  }
}  





