.settings {
  max-width 840px
  margin 0 auto
  padding 50px 10px

  &__header,
  &__descr {
    text-align center
  }

  &__header {
    margin-bottom 40px
    color #36436B
    font-size 18px
    font-weight 600
  }

  &__descr {
    margin-bottom 70px
    color #000
    line-height (26/14)
  }

  &__checkbox {
    position relative
    margin-top 5px
    margin-right 20px

    &:hover{
      cursor: pointer  
    }

    &:before {
      content ""
      position absolute
      top 0
      left 0
      width 23px
      height 23px
      background url('./img/checkbox-unchecked.svg') no-repeat center center / cover
      // 13px is a width of default checkbox
      transform translate( ((23px - 13px) / -2), ((23px - 13px) / -2) )
    }

    &-checked {
      &:before {
        background-image url('./img/checkbox-checked.svg')
      }
    }

    &-wrap {
      width 50%
      margin-bottom 30px
      padding-left 25px

      &:nth-child(2n) {
        padding-left 123px

        @media(max-width 992px) {
          padding-left 25px
        }
      }

      @media(max-width 768px) {
        width 100%
      }
    }

    &-label {
      display flex

      &:hover {
        cursor: pointer  
      }
    }
  }

  &__form {
    display flex
    flex-wrap wrap
  }
}
