.AllTeamEdit .dash-inner {
	position: relative
}
.AllTeamEdit__main-container {
	display flex
	flex-flow: column nowrap
	// align-items stretch
	// justify-content: space-around
		// background-color pink
	margin: 40px 0
	width: 100%
	padding-bottom 100px
	position: relative
	padding: 0 40px
}
.AllTeamEdit__header {
	display flex
	align-items: center
	justify-content: center
	color: #36436b
	font-weight: bold
	font-size 16px
	padding: 30px 0 
}
.AllTeamEdit__save-button {
	position: absolute
	padding: 5px 30px
	top: 40px 
	right: 40px
	border: 2px solid #36436b
	border-radius: 8px
	color: #36436b 
	cursor: pointer
	font-weight 600
}
.AllTeamEdit__save-button:hover{
	// color: 	#0a163a
	// border-color: #0a163a
}